@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@600&family=Roboto:wght@400;500&display=swap');
html {
  max-width: 100vw;
  font-size: 10px;
}
html * {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
}
section {
  width: 100%;

}


.button-menu {
  color: rgb(255, 255, 255);
  /*--color: #7a0000;*/
  padding: 0.1em 0.5em;
  background-color: transparent;
  border-radius: 16px;
  position: absolute;
  top: 40px;
  margin-left: 23px;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-family: 'Roboto', sans-serif;
  font-size: 1.9rem;
  border: 3px solid;
  text-transform: uppercase;
 /* color: var(--color);*/
  z-index: 1;
 }
 
 .button-menu::before, .button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #DE1B2F;
  transition: 1s ease;
 }
 
 .button-menu::before {
  top: -1em;
  left: -1em;
 }
 
 .button-menu::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .button-menu:hover::before, .button:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .button-menu:hover {
  color: rgb(255, 255, 255);
  border: 0;
 }
 
 .button-menu:active {
  filter: brightness(.8);
 }

 .button-filtros {
  color: rgb(255, 255, 255);
  /*--color: #7a0000;*/
  padding: 0.4em 1.1em;
  background-color: transparent;
  border-radius: 16px;
  position: absolute;
  top: 40px;
  left: 170px;
  margin-left: 23px;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-family: 'Roboto', sans-serif;
  font-size: 1.9rem;
  border: 3px solid;
  text-transform: uppercase;
 /* color: var(--color);*/
  z-index: 1;
 }
 
 .button-filtros::before, .button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #DE1B2F;
  transition: 1s ease;
 }
 
 .button-filtros::before {
  top: -1em;
  left: -1em;
 }
 
 .button-filtros::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .button-filtros:hover::before, .button:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .button-filtros:hover {
  color: rgb(255, 255, 255);
  border: 0;
 }
 
 .button-filtros:active {
  filter: brightness(.8);
 }
 
.img-menu {
  width: 40px;
  height: 40px;
  margin-right: 8px;
 
}
.menu {
  margin: 0 15px;
}
.content-menu {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.usuario {
  position: absolute;
  top: 40px;
  left: 1080px;
  
}
.content-usuario {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  
}
.usuario p {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: white;
  margin-right: 20px;
  margin-bottom: 0;
}

.usuario img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  
}

.logo {
  position: absolute;
  top: 40px;
  left: 500px;
  display: flex;
  flex-direction: row;
  
}
.logo p {
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: white;
}

.logo img {
  height: 100%;
  margin-right: 20px;
}


#SECCION-1 {
  height: 160vh;
  background-color: black;
}
.degrade {
  position: absolute;
  top: 300px;
}
.degrade-arriba {
  position: absolute;
  
}

.linea {
  position: absolute;
  top: 640px;
  left: 240;
}

.titulo-principal {
  text-align: center;
  position: absolute;
  width: 1086px;
  height: 157px;
  left: 103px;
  top: 680px;
  font-family: 'Gelasio', serif;
  font-size: 5rem;
  color: white;

}

#SECCION-2-LO-MAS-RELEVANTE {
  height: 100vh;
  background-color: black;

}

.titulo1 {
  font-family: 'Gelasio', serif;
  font-size: 4rem;
  color: white;
  margin: 0 43px 80px;
}
.linea-chica {
  /*position: absolute;*/
  top:1120px;
  margin: 0 0 25px 43px;
  padding-right: 232px;
}
.lineas {
  display: flex;
  flex-direction: row;
}
.titulos-seccion2 {
  font-family: 'Gelasio', serif;
  font-size: 1.rem;
  color: white;
}

.fila-1 {
  display: flex;
  flex-direction: row;
  margin: 0 33px 60px;
}
.img-seccion2{
  margin: 0 20px 20px 10px;
}

.fila-2 {
  display: flex;
  flex-direction: row;
  margin: 0px 33px;
}

